footer{
    
    width: 100vw;
    height: 8vh;
    background-color: $alt-dark-grey;
    color: #ffffff;
    margin: auto 0;
    vertical-align: middle;
    .footer-text{
        text-align: center;
        border: 1px solid red;
        height: 50%;
        // width: auto;
        // margin: auto 0;
        span{
            font-weight: bold;
            color:$red;
        }
    }
}

